<!DOCTYPE html>
<html>
<head>
	<title>Top {{ num }} dispositivos más peligrosos</title>
</head>
<body>
	<h1>Top {{ num }} dispositivos más peligrosos:</h1>
    {% if type_dangerous_devices == 'more' %}
    <h2>Más del 33% de servicios inseguros</h2>
    <table>
		<thead>
			<tr>
				<th>Dispositivos peligrosos</th>
			</tr>
		</thead>
		<tbody>
			{% for device in resultados %}
			<tr>
				<td>{{ device[0] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
    {% else %}
    <h2>Mas y menos del 33% de servicios inseguros</h2>
    <table>
		<thead>
			<tr>
				<th>Dispositivos peligrosos</th>
				<th></th>
				<th>Dispositivos no peligrosos</th>
			</tr>
		</thead>
		<tbody>
			{% for device in resultados1 %}
			<tr>
				<td>{{ device[0] }}</td>
			</tr>
			{% endfor %}
			{% for device in resultados2 %}
			<tr>
				<td></td>
				<td></td>
				<td>{{ device[0] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
    {% endif %}
</body>
</html>

