<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consulta de datos</title>
</head>
<body>
    <h1>Consulta de datos</h1>
    <form method="get" action="/ip">
        <h2>Top IPs</h2>
        <label for="number_ips">Número de IPs a consultar:</label>
        <input type="text" name="number_ips" id="number_ips">
        <input type="submit" value="Submit">
    </form>

    <form method="get" action="/devices">
        <h2>Top dispositivos más vulnerables</h2>
        <label for="number_devices">Número de dispositivos a consultar:</label>
        <input type="text" name="number_devices" id="number_devices">
        <input type="submit" value="Submit">
    </form>

    <form method="get" action="/dangerous">
        <h2>Top dispositivos más peligrosos</h2>
        <label for="number_dangerous_devices">Número de dispositivos a consultar:</label>
        <input type="text" name="number_dangerous_devices" id="number_dangerous_devices">
        <br><br>
        <label for="type_dangerous_devices">Tipo de dispositivos más peligrosos:</label>
        <select name="type_dangerous_devices" id="type_dangerous_devices">
            <option value="more">Solo más del 33% de servicios inseguros</option>
            <option value="less">Más del 33% y menos del 33% de servicios inseguros</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>
    <form method="get" action="/vulnerabilities">
        <h2>10 últimas vulnerabilidades en tiempo real</h2>
        <input type="submit" value="Mostrar">
    </form>
</body>
</html>
