<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio de sesión</title>
</head>
<body>
    <h1>Inicio de sesión</h1>
    <p>Introduce tu nombre de usuario y tu contraseña</p>
                </div>
                <form data-aos="fade-up" data-aos-once="true" action="/" method="post">

                    <div class="mb-3"><label>Usuario</label><input class="form-control" type="text" name="username" required=""></div>
                    <div class="mb-3"><label>Contraseña</label><input class="form-control" type="password" name="password" required="" minlength="8"></div>
                    <div class="mb-3"><a href="/signup">Todavia no tienes cuenta? Registrate aquí</a></div>

                    <button class="btn btn-primary" type="submit">Log In</button>
                </form>
</body>
</html>