<!DOCTYPE html>
<html>
<head>
	<title>Últimas 10 vulnerabilidades</title>
</head>
<body>
	<h1>Últimas 10 vulnerabilidades:</h1>
	<table>
		<thead>
			<tr>
				<th>Modificado</th>
				<th>Publicado</th>
				<th>Responsable</th>
				<th>CWE</th>
				<th>ID</th>
				<th>Referencias</th>
				<th>Resumen</th>
			</tr>
		</thead>
		<tbody>
			{% for vuln in resultados %}
			<tr>
				<td>{{ vuln['Modified'] }}</td>
				<td>{{ vuln['Published'] }}</td>
				<td>{{ vuln['assigner'] }}</td>
				<td>{{ vuln['cwe'] }}</td>
				<td>{{ vuln['id'] }}</td>
				<td>
					<ul>
						{% for reference in vuln['references'] %}
						<li>{{ reference }}</li>
						{% endfor %}
					</ul>
				</td>
				<td>{{ vuln['summary'] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>